{{!

	PAGE TEMPLATE
	- Configuration of this file is not required.

}}
{{!< default}}

	{{#post}}

	{{> post_cover}}

	<section class="posts wrapper">
		<article class="post {{post_class}}">

			{{> post_header}}

<script type="text/javascript" src="https://form.jotform.com/jsform/53517426382154"></script>

			{{> post_footer}}

		</article>
	</section>

	{{/post}}
